.beers
  - @beers.each do |beer|
    - present beer do |beer_presenter|
      %dl.beer
        %dt
          %span Beer:
          = beer_presenter.name
        %dd.brewery
          %span.brewer Brewery:
          = beer_presenter.brewer_name
        %dd.rating
          %span.rating Rank It!
          = beer_presenter.rating
        %dd.submitted
          %span.submitted Submitted
          = beer_presenter.submitted
