- content_for(:body_id_attribute) { "homepage" }

.hero-image= image_tag("/assets/mascot.png", alt: "The Mugwarrior Mascot")

.hero-content
  %h2 Beer Ranking
  %p 
    From the team that is bringing you 
    %span{class: "mugwarrior-logo"} Mugwarrior

.big-link= link_to "Lets Get Started", about_path